<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shsxt.house.dao.RentDao">
    <select id="queryRentByRentId" parameterType="Integer" resultType="com.shsxt.house.po.Rent">
        select * from rent where rentId=#{rentId}
    </select>
    <insert id="insertRent" parameterType="com.shsxt.house.po.Rent">
        insert into rent (houseId,userId,startTime,endTime,rentStatus) values (#{houseId},#{userId},#{startTime},#{endTime},#{rentStatus})
    </insert>
    <delete id="deleteRentByRentId" parameterType="Integer">
        delete from rent where rentId=#{rentId}
    </delete>
    <update id="updateRent" parameterType="com.shsxt.house.po.Rent">
        update rent set rentStatus=#{rentStatus}
    </update>
    <select id="queryRentList" parameterType="com.shsxt.house.query.RentQuery" resultType="com.shsxt.house.po.Rent">
        select * from rent <where>
        <if test="houseId!=null and houseId!=''">and houseId=#{houseId}</if>
        <if test="ownerId!=null and ownerId!=''">
            and houseId in (select houseId from house where userId=#{ownerId})
        </if>
        <if test="userId!=null and userId!=''">and userId=#{userId}</if></where>
    </select>
</mapper>